*{
  margin: 0;
  padding: 0;
  text-decoration: 0;
}
header{
  display: flex;
  width: 100%;
justify-content: center;
padding: 50px;
background-color: rgb(255, 149, 0);
}
main{
  background-color: rgb(226, 215, 207);
}
h2{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color:rgb(255, 149, 0) ;
}
img{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 50px;
}
p{
 padding: 15px;
}
h3{
  display: flex;
  width: 100%;
  justify-content: left;
  padding-left: 50px;
  padding-top: 10px;
  background-color:rgb(249, 195, 118) ;
}
li{
  padding-left: 30px;
}